.theme-dark .theme-light {
    --search-popout-option-fade: linear-gradient(90deg,hsl(var(--primary-800-hsl)/0),hsl(var(--primary-800-hsl)/1) 80%);
    --search-popout-option-fade-hover: linear-gradient(90deg,hsl(var(--primary-600-hsl)/0),var(--primary-600) 50%);
    --search-popout-option-user-nickname: var(--text-normal);
    --search-popout-option-user-username: var(--text-muted);
    --search-popout-option-filter-text: var(--primary-400);
    --search-popout-option-non-text-color: #caccce;
    --search-popout-option-filter-color: #caccce;
    --search-popout-option-answer-color: #caccce;
    --search-popout-date-picker-border: 1px solid hsl(var(--primary-660-hsl)/0.3);
    --search-popout-date-picker-hint-text: #caccce;
    --search-popout-date-picker-hint-value-text: #fff;
    --search-popout-date-picker-hint-value-background: var(--brand-experiment);
    --search-popout-date-picker-hint-value-background-hover: var(--brand-experiment-430);
    --guild-header-text-shadow: 0 1px 1px hsl(var(--black-500-hsl)/0.4);
    --elevation-stroke: 0 0 0 1px hsl(var(--primary-900-hsl)/0.15);
    --elevation-low: 0 1px 0 hsl(var(--primary-900-hsl)/0.2),0 1.5px 0 hsl(var(--primary-860-hsl)/0.05),0 2px 0 hsl(var(--primary-900-hsl)/0.05);
    --elevation-medium: 0 4px 4px hsl(var(--black-500-hsl)/0.16);
    --elevation-high: 0 8px 16px hsl(var(--black-500-hsl)/0.24);
    --shadow-border: 0 0 0 1px hsla(0,0%,100%,0.08);
    --shadow-border-filter: drop-shadow(0 0 1px hsla(0,0%,100%,0.08));
    --shadow-high: 0 12px 24px 0 rgba(0,0,0,0.24);
    --shadow-high-filter: drop-shadow(0 12px 24px rgba(0,0,0,0.24));
    --shadow-ledge: 0 2px 0 0 rgba(0,0,0,0.05),0 1.5px 0 0 rgba(0,0,0,0.05),0 1px 0 0 rgba(0,0,0,0.16);
    --shadow-ledge-filter: drop-shadow(0 1.5px 0 rgba(0,0,0,0.24));
    --shadow-low: 0 1px 4px 0 rgba(0,0,0,0.14);
    --shadow-low-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.14));
    --shadow-low-active: 0 0 4px 0 rgba(0,0,0,0.14);
    --shadow-low-active-filter: drop-shadow(0 0 4px rgba(0,0,0,0.14));
    --shadow-low-hover: 0 4px 10px 0 rgba(0,0,0,0.14);
    --shadow-low-hover-filter: drop-shadow(0 4px 10px rgba(0,0,0,0.14));
    --shadow-medium: 0 4px 8px 0 rgba(0,0,0,0.16);
    --shadow-medium-filter: drop-shadow(0 4px 8px rgba(0,0,0,0.16));
    --shadow-mobile-navigator-x: 0 0 10px 0 rgba(0,0,0,0.22);
    --shadow-mobile-navigator-x-filter: drop-shadow(0 0 10px rgba(0,0,0,0.22));
    --shadow-top-high: 0 -12px 32px 0 rgba(0,0,0,0.24);
    --shadow-top-high-filter: drop-shadow(0 -12px 32px rgba(0,0,0,0.24));
    --shadow-top-ledge: 0 -2px 0 0 rgba(0,0,0,0.05),0 -1.5px 0 0 rgba(0,0,0,0.05),0 -1px 0 0 rgba(0,0,0,0.16);
    --shadow-top-ledge-filter: drop-shadow(0 -1.5px 0 rgba(0,0,0,0.24));
    --shadow-top-low: 0 -1px 4px 0 rgba(0,0,0,0.14);
    --shadow-top-low-filter: drop-shadow(0 -1px 4px rgba(0,0,0,0.14));
    --activity-card-background: var(--primary-700);
    --android-navigation-bar-background: var(--primary-830);
    --android-navigation-scrim-background: hsl(var(--primary-830-hsl)/0.5);
    --android-ripple: hsl(var(--white-500-hsl)/0.07);
    --background-accent: var(--primary-530);
    --background-floating: var(--primary-800);
    --background-mentioned: hsl(var(--yellow-300-hsl)/0.1);
    --background-mentioned-hover: hsl(var(--yellow-300-hsl)/0.08);
    --background-message-automod: hsl(var(--red-400-hsl)/0.05);
    --background-message-automod-hover: hsl(var(--red-400-hsl)/0.1);
    --background-message-highlight: hsl(var(--brand-360-hsl)/0.08);
    --background-message-highlight-hover: hsl(var(--brand-360-hsl)/0.06);
    --background-message-hover: hsl(var(--primary-900-hsl)/0.06);
    --background-mobile-primary: var(--primary-600);
    --background-mobile-secondary: var(--primary-630);
    --background-modifier-accent: hsl(var(--primary-500-hsl)/0.48);
    --background-modifier-active: hsl(var(--primary-500-hsl)/0.48);
    --background-modifier-hover: hsl(var(--primary-500-hsl)/0.3);
    --background-modifier-selected: hsl(var(--primary-500-hsl)/0.6);
    --background-nested-floating: var(--primary-630);
    --background-primary: var(--primary-600);
    --background-secondary: var(--primary-630);
    --background-secondary-alt: var(--primary-660);
    --background-tertiary: var(--primary-700);
    --black: var(--black-500);
    --bug-reporter-modal-submitting-background: hsl(var(--primary-800-hsl)/0.6);
    --button-danger-background: var(--red-430);
    --button-danger-background-active: var(--red-530);
    --button-danger-background-disabled: var(--red-430);
    --button-danger-background-hover: var(--red-500);
    --button-outline-brand-background: hsl(var(--white-500-hsl)/0);
    --button-outline-brand-background-active: var(--brand-560);
    --button-outline-brand-background-hover: var(--brand-500);
    --button-outline-brand-border: var(--brand-500);
    --button-outline-brand-border-active: var(--brand-560);
    --button-outline-brand-border-hover: var(--brand-500);
    --button-outline-brand-text: var(--white-500);
    --button-outline-brand-text-active: var(--white-500);
    --button-outline-brand-text-hover: var(--white-500);
    --button-outline-danger-background: hsl(var(--white-500-hsl)/0);
    --button-outline-danger-background-active: var(--red-460);
    --button-outline-danger-background-hover: var(--red-430);
    --button-outline-danger-border: var(--red-400);
    --button-outline-danger-border-active: var(--red-430);
    --button-outline-danger-border-hover: var(--red-430);
    --button-outline-danger-text: var(--white-500);
    --button-outline-danger-text-active: var(--white-500);
    --button-outline-danger-text-hover: var(--white-500);
    --button-outline-positive-background: hsl(var(--white-500-hsl)/0);
    --button-outline-positive-background-active: var(--green-530);
    --button-outline-positive-background-hover: var(--green-430);
    --button-outline-positive-border: var(--green-360);
    --button-outline-positive-border-active: var(--green-530);
    --button-outline-positive-border-hover: var(--green-430);
    --button-outline-positive-text: var(--white-500);
    --button-outline-positive-text-active: var(--white-500);
    --button-outline-positive-text-hover: var(--white-500);
    --button-outline-primary-background: hsl(var(--white-500-hsl)/0);
    --button-outline-primary-background-active: var(--primary-430);
    --button-outline-primary-background-hover: var(--primary-500);
    --button-outline-primary-border: var(--primary-500);
    --button-outline-primary-border-active: var(--primary-430);
    --button-outline-primary-border-hover: var(--primary-500);
    --button-outline-primary-text: var(--white-500);
    --button-outline-primary-text-active: var(--white-500);
    --button-outline-primary-text-hover: var(--white-500);
    --button-positive-background: var(--green-430);
    --button-positive-background-active: var(--green-530);
    --button-positive-background-disabled: var(--green-430);
    --button-positive-background-hover: var(--green-500);
    --button-secondary-background: var(--primary-500);
    --button-secondary-background-active: var(--primary-400);
    --button-secondary-background-disabled: var(--primary-500);
    --button-secondary-background-hover: var(--primary-430);
    --channel-icon: var(--primary-400);
    --channel-text-area-placeholder: var(--primary-430);
    --channels-default: var(--primary-360);
    --channeltextarea-background: var(--primary-560);
    --chat-background: var(--primary-600);
    --chat-border: var(--primary-700);
    --chat-input-container-background: var(--primary-600);
    --control-brand-foreground: var(--brand-360);
    --control-brand-foreground-new: var(--brand-360);
    --deprecated-card-bg: hsl(var(--primary-700-hsl)/0.6);
    --deprecated-card-editable-bg: hsl(var(--primary-700-hsl)/0.3);
    --deprecated-quickswitcher-input-background: var(--primary-400);
    --deprecated-quickswitcher-input-placeholder: hsl(var(--white-500-hsl)/0.3);
    --deprecated-store-bg: var(--primary-600);
    --deprecated-text-input-bg: var(--primary-700);
    --deprecated-text-input-border: hsl(var(--black-500-hsl)/0.3);
    --deprecated-text-input-border-disabled: var(--primary-700);
    --deprecated-text-input-border-hover: var(--primary-900);
    --deprecated-text-input-prefix: var(--primary-200);
    --display-banner-overflow-background: hsl(var(--primary-700-hsl)/0.5);
    --focus-primary: var(--blue-345);
    --forum-post-extra-media-count-container-background: hsl(var(--primary-660-hsl)/0.8);
    --forum-post-tag-background: hsl(var(--primary-660-hsl)/0.9);
    --header-primary: var(--primary-130);
    --header-secondary: var(--primary-330);
    --home-background: var(--primary-645);
    --home-card-resting-border: hsl(var(--transparent-hsl)/0);
    --info-box-background: hsl(var(--blue-345-hsl)/0.1);
    --info-danger-background: hsl(var(--red-400-hsl)/0.1);
    --info-danger-foreground: var(--red-400);
    --info-danger-text: var(--white-500);
    --info-help-background: hsl(var(--blue-345-hsl)/0.1);
    --info-help-foreground: var(--blue-345);
    --info-help-text: var(--white-500);
    --info-positive-background: hsl(var(--green-360-hsl)/0.1);
    --info-positive-foreground: var(--green-360);
    --info-positive-text: var(--white-500);
    --info-warning-background: hsl(var(--yellow-300-hsl)/0.1);
    --info-warning-foreground: var(--yellow-300);
    --info-warning-text: var(--white-500);
    --input-background: var(--primary-700);
    --input-placeholder-text: var(--input-placeholder-text-dark);
    --interactive-active: var(--white-500);
    --interactive-hover: var(--primary-230);
    --interactive-muted: var(--primary-500);
    --interactive-normal: var(--primary-330);
    --live-stage-tile-border: hsl(var(--primary-500-hsl)/0.6);
    --logo-primary: var(--white-500);
    --mention-background: hsl(var(--brand-500-hsl)/0.3);
    --mention-foreground: var(--brand-260);
    --modal-background: var(--primary-600);
    --modal-footer-background: var(--primary-630);
    --profile-gradient-message-input-border: hsl(var(--primary-500-hsl)/0.48);
    --profile-gradient-note-background: hsl(var(--black-500-hsl)/0.3);
    --profile-gradient-overlay: hsl(var(--black-500-hsl)/0.6);
    --profile-gradient-overlay-synced-with-user-theme: hsl(var(--black-500-hsl)/0.8);
    --profile-gradient-profile-body-background-hover: hsl(var(--white-500-hsl)/0.16);
    --profile-gradient-role-pill-background: hsl(var(--primary-660-hsl)/0.5);
    --profile-gradient-role-pill-border: hsl(var(--white-500-hsl)/0.2);
    --profile-gradient-section-box: hsl(var(--black-500-hsl)/0.45);
    --redesign-button-danger-background: var(--red-430);
    --redesign-button-danger-pressed-background: var(--red-500);
    --redesign-button-floating-background: var(--white-500);
    --redesign-button-floating-pressed-background: var(--primary-730);
    --redesign-button-positive-background: var(--green-430);
    --redesign-button-positive-pressed-background: var(--green-500);
    --redesign-button-primary-background: var(--brand-500);
    --redesign-button-primary-pressed-background: var(--brand-600);
    --redesign-button-secondary-border: hsl(var(--white-500-hsl)/0.2);
    --redesign-button-secondary-pressed-background: var(--primary-700);
    --scrollbar-auto-scrollbar-color-thumb: var(--primary-730);
    --scrollbar-auto-scrollbar-color-track: var(--primary-630);
    --scrollbar-auto-thumb: var(--primary-730);
    --scrollbar-auto-track: var(--primary-630);
    --scrollbar-thin-thumb: var(--primary-730);
    --scrollbar-thin-track: hsl(var(--black-500-hsl)/0);
    --spoiler-hidden-background: var(--primary-700);
    --spoiler-revealed-background: var(--primary-660);
    --status-danger: var(--red-400);
    --status-danger-background: var(--red-400);
    --status-danger-text: var(--white-500);
    --status-positive: var(--green-360);
    --status-positive-background: var(--green-430);
    --status-positive-text: var(--white-500);
    --status-warning: var(--yellow-300);
    --status-warning-background: var(--yellow-300);
    --status-warning-text: var(--black-500);
    --text-brand: var(--brand-360);
    --text-danger: var(--red-345);
    --text-link: var(--blue-345);
    --text-link-low-saturation: var(--blue-330);
    --text-muted: var(--primary-360);
    --text-normal: var(--primary-230);
    --text-positive: var(--green-330);
    --text-warning: var(--yellow-300);
    --textbox-markdown-syntax: var(--primary-360);
    --user-profile-header-overflow-background: hsl(var(--primary-700-hsl)/0.5);
    --white: var(--white-500);
    --brightness: calc(1.5 - var(--saturation-factor, 1)*0.5);
    --contrast: var(--saturation-factor,1);
}

:root {
    --synapse-version: 1;
    --synapse-subversion: 0;
    --synapse-background-color-inner: var(--bg-overlay-chat,var(--background-primary));
}
.pill-2RsI5Q, .pill-L_aLMQ, .pill-1NRFie, .pill-22lZHo {
    display: none;
}
.svg-2ifYOU > foreignObject {
    mask: none !important;
}
.svg-2ifYOU {
    border-radius: 12px;
}
.blobContainer-ikKyFs {
    border-radius: 20px;
    transition: .2s;
}
.blobContainer-ikKyFs.selected-3c78Ai, .blobContainer-ikKyFs:hover {
    background-color: var(--background-primary);
    box-shadow: inset 0 0 0 2px var(--brand-experiment),inset 0 0 0 4px var(--background-floating);
}
.wrapper-2PSQCG {
    transition: .2s;
    padding: 4px;
    width: 56px;
    height: 56px;
    border-radius: 20px;
}
.wrapper-2PSQCG > svg {
    margin: 4px;
    border-radius: 16px;
}
.pill-2RsI5Q:has(.item-2LIpTv) + div .wrapper-2PSQCG:has(.folder-241Joy.hover-3m7-WT), .wrapper-2PSQCG:has(.folder-241Joy.hover-3m7-WT) {
    box-shadow: inset 0 0 0 2px var(--brand-experiment),inset 0 0 0 4px var(--background-tertiary) !important;
}
.pill-2RsI5Q:has(.item-2LIpTv) + div .wrapper-2PSQCG {
    box-shadow: inset 0 0 0 4px var(--background-tertiary);
}
.pill-2RsI5Q:has(.item-2LIpTv[style="opacity: 1; height: 8px; transform: none;"]) + div .wrapper-2PSQCG {
    box-shadow: inset 0 0 0 2px var(--status-danger),inset 0 0 0 4px var(--background-tertiary);
}
.closedFolderIconWrapper-3tRb2d {
    grid-template: 18px 18px/18px 18px;
    padding: 6px;
}
.wrapper-2PSQCG {
    border-radius: 20px;
    transition: .2s;
    padding: 4px;
    width: 56px;
    height: 56px;
}
.wrapper-2PSQCG:has(.homeIcon-r0w4ny) > svg {
    margin: 4px;
}
.searchBar-3TnChZ {
    box-shadow: none;
}
.privateChannels-oVe7HL, .privateChannels-oVe7HL > .scrollerBase-1Pkza4, .container-2o3qEW {
    background: none !important;
}
.wrapper-2PSQCG:has(.wrapper-3kah-n.selected-1Drb7Z) {
    box-shadow: inset 0 0 0 2px var(--brand-experiment),inset 0 0 0 4px var(--background-floating) !important;
}
.circleIconButton-1VxDrg > svg {
    color: var(--header-primary);
    transition: .2s;
}
.circleIconButton-1VxDrg:hover > svg {
    color: var(--white-500);
}
.circleIconButton-1VxDrg.selected-2r1Hvo {
    background-color: var(--brand-experiment);
}
.guilds-2JjMmN {
    border-radius: 18px;
    box-shadow: var(--elevation-medium);
    transition: .2s;
}
.layers-OrUESM {
    background-color: var(--synapse-background-color);
    transition: .2s;
}
.channelTextArea-1FufC0 {
    background-color: transparent;
}
.bg-1QIAus {
    background: var(--synapse-background-image);
    transition: .2s;
}
.chat-2ZfjoI, .chatContent-3KubbW, .scrollableContainer-15eg7h {
    background: transparent !important;
}
.sidebar-1tnWFu, .container-1NXEtd {
    background-color: var(--background-tertiary) !important;
    background: var(--background-tertiary);
}
.contentRegion-3HkfJJ, .contentRegionScroller-2_GT_N {
    background-color: var(--background-floating);
    background: var(--background-floating);
}
.channel-1Shao0 {
    max-width: 324px;
    border-radius: 12px;
}
.channel-1Shao0 .layout-1LjVue {
    padding: 6px 12px;
}
.membersWrap-3NUR2t {
    background-color: var(--background-tertiary);
    margin: 5px;
    height: calc(100% - 10px);
    border-radius: 12px;
    width: 280px;
    box-shadow: var(--elevation-medium);
}
.panels-3wFtMD {
    background-color: var(--background-floating);
    margin: 5px;
    border-radius: 16px;
    box-shadow: var(--elevation-medium);
    margin-top: 0;
    width: 310px;
    margin-bottom: 10px;
}
.panels-3wFtMD > .container-YkUktl {
    background: none;
    padding: 0;
}
.bannerImg-2PzH6z {
    width: 320px;
}
.panels-3wFtMD > .container-YkUktl > .flex-2S1XBF > button {
    transition: .2s;
    width: calc(320px/4);
    justify-content: center;
    height: 53px;
    border-radius: 0;
    color: var(--header-primary);
}
.panels-3wFtMD > .container-YkUktl > .flex-2S1XBF > button:hover, .panels-3wFtMD > .container-YkUktl > .avatarWrapper-1B9FTW:hover {
    background-color: var(--background-secondary);
}
.panels-3wFtMD > .container-YkUktl > .flex-2S1XBF > button:last-child {
    border-radius: 0 15px 15px 0;
}
.panels-3wFtMD > .container-YkUktl > .flex-2S1XBF {
    height: 53px;
}
.panels-3wFtMD > .container-YkUktl > .avatarWrapper-1B9FTW {
    margin: 0;
    padding-left: 0;
    width: calc(320px/4);
    justify-content: center;
    height: 53px;
    min-width: unset;
    transition: .2s;
    border-radius: 15px 0 0 15px;
}
.panels-3wFtMD > .container-YkUktl > .avatarWrapper-1B9FTW > .nameTag-sc-gpq {
    display: none;
}
.unread-36eUEm {
    background-color: var(--brand-experiment);
    width: 8px;
    border-radius: 50%;
    margin-left: 4px;
    z-index: +1;
}
.content-1gYQeQ {
    border-radius: 12px;
    padding: 2px 8px;
}
.iconContainer-21RCa3 {
    padding: 6px;
    background-color: var(--background-secondary);
    border-radius: 50%;
}
.iconContainer-21RCa3 > svg {
    color: var(--brand-experiment) !important;
}
.sidebar-1tnWFu {
    border-radius: 18px !important;
    margin: 10px;
    box-shadow: var(--elevation-medium);
    width: 320px;
    max-width: 320px;
    position: relative;
}
.animatedContainer-2laTjx {
    border-radius: 16px 16px 0 0;
    overflow: hidden;
}
.header-3OsQeK {
    transition: .2s;
}
.container-2giAcK {
    margin-top: 0;
}
.searchBar-jGtisZ > .DraftEditor-root {
    width: 24px;
    position: absolute;
}
.search-2Mwzzq .DraftEditor-root .public-DraftEditorPlaceholder-root {
    color: transparent;
}
.search-2Mwzzq.open-1F8u2c .DraftEditor-root .public-DraftEditorPlaceholder-root {
    color: var(--text-muted);
}
.searchBar-jGtisZ {
    width: fit-content;
    height: fit-content;
    padding: 6px;
    cursor: pointer !important;
    border-radius: 50%;
    position: relative;
    transition: .2s;
}
.search-2Mwzzq.open-1F8u2c > .searchBar-jGtisZ {
    border-radius: 36px;
}
.search-2Mwzzq.open-1F8u2c > .searchBar-jGtisZ > .DraftEditor-root {
    width: unset;
    position: unset;
}
.searchBar-jGtisZ > .icon-tZMHgY > .iconContainer-1RqWJj {
    width: 24px;
    height: 24px;
}
.searchBar-jGtisZ > .icon-tZMHgY {
    cursor: pointer !important;
}
.iconWrapper-2awDjA, .recentsIcon-F3eO1o {
    margin: 0 4px;
    padding: 6px;
    background-color: var(--background-tertiary);
    border-radius: 50%;
    height: 36px;
    width: 36px;
    min-height: unset;
}
.privateChannelRecipientsInviteButtonIcon-1ObKXK {
    height: 32px;
    width: fit-content;
    padding: 0 !important;
    background-color: var(--brand-experiment);
    border-radius: 16px;
    box-shadow: var(--elevation-medium);
    display: flex;
    align-items: center;
    padding-right: 8px !important;
}
.privateChannelRecipientsInviteButtonIcon-1ObKXK > svg {
    color: var(--white-500) !important;
    width: 24px;
    height: 24px;
    min-width: 24px;
    margin: 4px;
    box-shadow: none;
    display: inline-flex;
    padding-right: 0 !important;
}
.privateChannelsHeaderContainer-1UWASm {
    height: fit-content;
    align-items: center;
    margin-bottom: 4px;
    overflow: visible;
}
.member-48YF_l, .members-3WRCEx {
    background: none;
}
.member-2gU6Ar {
    background-color: var(--background-floating);
    opacity: 1;
    border-radius: 3px;
    margin-bottom: 2px;
    padding: 0;
    max-width: 264px;
    width: 264px;
}
.members-3WRCEx {
    max-width: 280px;
    width: 280px;
}
.member-2gU6Ar > div {
    background-color: transparent !important;
}
.member-2gU6Ar:hover {
    background-color: var(--background-secondary-alt);
}
.members-3WRCEx > .member-2gU6Ar:first-of-type {
    border-radius: 8px 8px 3px 3px;
}
.members-3WRCEx > .member-2gU6Ar:nth-last-of-type(2), .members-3WRCEx > .member-2gU6Ar:nth-last-of-type(1), .content-yjf30S > .member-2gU6Ar:nth-last-of-type(1) {
    border-radius: 3px 3px 8px 8px;
}
.members-3WRCEx > .member-2gU6Ar:nth-last-of-type(1) {
    border-radius: 3px 3px 8px 8px;
}
.membersGroup-2eiWxl + .member-2gU6Ar {
    border-radius: 8px 8px 3px 3px;
}
.member-2gU6Ar:has(+ .membersGroup-2eiWxl) {
    border-radius: 3px 3px 8px 8px;
}
.membersGroup-2eiWxl + .member-2gU6Ar:has(+ .membersGroup-2eiWxl) {
    border-radius: 8px;
}
.membersGroup-2eiWxl + .member-2gU6Ar:nth-last-of-type(1) {
    border-radius: 8px;
}
.offline-22aM7E > div {
    opacity: .3;
}
.recentsIcon-F3eO1o > .iconWrapper-2awDjA {
    background-color: transparent;
    margin: 0;
    padding: 0;
}
.scrollableContainer-15eg7h {
    background: none;
}
.textArea-2CLwUE {
    border-radius: 22px;
    border: 1px solid var(--primary-500);
    margin-right: 4px;
}
.textArea-2CLwUE > div > .placeholder-1rCBhr, .textArea-2CLwUE > div > .placeholder-1rCBhr + div, .slateTextArea-27tjG0 {
    padding-left: 10px;
}
.attachButton-1ijpt9 {
    padding: 10px;
    margin-right: 10px;
    background-color: var(--background-tertiary);
    border-radius: 50%;
}
.attachButton-1ijpt9 path {
    d: path("M20 11.1111H12.8889V4H11.1111V11.1111H4V12.8889H11.1111V20H12.8889V12.8889H20V11.1111Z");
}
.scrollableContainer-15eg7h {
    padding: 1px 0;
    border-radius: 0;
    padding-top: 6px;
}
.upload-vLbqu- {
    background-color: transparent;
    padding: 0;
}
.upload-vLbqu- .actionBar-1ozugS {
    transform: translateX(8px);
    box-shadow: var(--elevation-medium);
    border-radius: 32px;
}
.upload-vLbqu- .actionBar-1ozugS > .wrapper-2vIMkT {
    box-shadow: none;
    border-radius: 32px;
    background-color: var(--background-tertiary);
}
.upload-vLbqu-, .upload-vLbqu- > .uploadContainer-TCg-Ji {
    height: 167px;
    min-height: unset;
}
.upload-vLbqu- .imageContainer-ZRSemj, .upload-vLbqu- .filenameContainer-2qwz8w {
    margin-top: 10px;
}
.channelTextArea-1VQBuV .divider-2rZFJK {
    display: none;
}
.buttons-uaqb-5 > * {
    background-color: var(--background-tertiary);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    justify-content: center;
}
.buttons-uaqb-5 {
    margin-right: 0 !important;
    gap: 4px;
}
.contentWrapper-3vHNP2:has(#emoji-picker-tab) .navList-YSb9UB > button {
    margin: 0;
    width: calc((100%/3) - 1.5px);
    padding: 4px;
}
.contentWrapper-3vHNP2:has(#emoji-picker-tab) .navList-YSb9UB {
    background-color: var(--background-tertiary);
    padding: 2px;
    gap: 2px;
    border-radius: 4px;
}
.nav-1zWVQw {
    height: fit-content;
}
.contentWrapper-3vHNP2:has(#emoji-picker-tab) .header-11eigE {
    box-shadow: none !important;
    -webkit-box-shadow: none;
}
.contentWrapper-3vHNP2:has(#emoji-picker-tab) .categoryList-2qRrlj {
    background-color: var(--background-primary);
}
.contentWrapper-3vHNP2:has(#emoji-picker-tab) .wrapper-3u51GQ, #gif-picker-tab-panel, #sticker-picker-tab-panel {
    margin-top: 8px !important;
}
.contentWrapper-3vHNP2:has(#emoji-picker-tab) .container-1SX9VC, .contentWrapper-3vHNP2:has(#gif-picker-tab-panel) .container-2oNtJn {
    border: 1px solid var(--primary-500);
    border-radius: 50px;
    background-color: transparent;
}
.resizeHandle-T_gFJR::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    width: 4px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--primary-500);
}
.contentWrapper-3vHNP2:has(#emoji-picker-tab) {
    background-color: var(--background-primary);
    box-shadow: var(--elevation-high) !important;
}
.drawerSizingWrapper-1txdWG:has(#emoji-picker-tab) {
    padding: 4px;
    padding-left: 12px;
}
.drawerSizingWrapper-1txdWG:has(#emoji-picker-tab)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: var(--background-tertiary);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
}
.expandedFolderBackground-1kSAf6 {
    background-color: transparent;
}
.iconWrapper-2awDjA:has(path[d^="M11 5V3C16.515"], path[d^="M21.526 8.149C21.231"]) {
    background-color: transparent;
    border: 1px solid var(--primary-500);
    width: max-content;
    display: flex;
    flex-direction: row;
    border-radius: 36px;
    align-items: center;
    gap: 4px;
}
.iconWrapper-2awDjA:has(path[d^="M11 5V3C16.515"], path[d^="M21.526 8.149C21.231"])::after {
    content: attr(aria-label);
    display: inline-block;
    padding-right: 4px;
}
.iconBadge-3Mmg92 {
    bottom: 12px;
    right: 12px;
    background-color: var(--brand-experiment);
}
.content-1jQy2l:before, .tabBody-2dgbAs:before, .headerBar-1dSpQr:before {
    content: none;
}
.tabBar-ra-EuL {
    background-color: var(--background-tertiary);
    padding: 2px;
    border-radius: 3px;
    gap: 2px;
}
.tabBar-ra-EuL .item-3mHhwr {
    margin: 0;
    padding: 4px 12px;
    border-radius: 2px;
}
.icon-2xnN2Y:has(path[d="M0.5,0 L0.5,1.5 C0.5,5.65 2.71,9.28 6,11.3 L6,16 L21,16 L21,14 C21,11.34 15.67,10 13,10 C13,10 12.83,10 12.75,10 C8,10 4,6 4,1.5 L4,0 L0.5,0 Z M13,0 C10.790861,0 9,1.790861 9,4 C9,6.209139 10.790861,8 13,8 C15.209139,8 17,6.209139 17,4 C17,1.790861 15.209139,0 13,0 Z"]) {
    margin-left: -2px;
}
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    padding: 4px 12px;
    background-color: transparent;
    border: 1px solid var(--primary-500);
    height: fit-content;
    border-radius: 50px;
}
.newMessagesBar-1hF-9G, .attachedBars-2BCP3l {
    left: 0;
    width: 100%;
    border-radius: 0;
    padding: 4px;
}
.guilds-2JjMmN {
    margin: 10px 0;
    transition: .15s;
    margin-left: 10px;
}
.wrapper-38slSD:has(> ul) > ul {
    height: fit-content !important;
}
.highlighted-1TaRLI, .replying-eZ7p5z {
    box-shadow: inset 0 0 0 2px var(--brand-experiment),inset 0 0 0 4px var(--background-primary);
}
.highlighted-1TaRLI, .replying-eZ7p5z {
    box-shadow: inset 0 0 0 2px var(--brand-experiment),inset 0 0 0 4px var(--background-primary);
}
.mentioned-Tre-dv {
    box-shadow: inset 0 0 0 2px var(--yellow-300),inset 0 0 0 4px var(--background-primary);
}
.message-2CShn3 {
    border-radius: 8px;
    margin-bottom: 3px;
}
.message-2CShn3::before {
    content: none;
}
.wrapper-2vIMkT {
    background-color: transparent;
    box-shadow: none !important;
}
.buttons-3dF5Kd {
    border-radius: 32px;
    background-color: var(--brand-experiment);
    padding: 0;
    height: 38px;
    transition: .2s;
}
.button-3bklZh > svg {
    color: var(--white-500) !important;
}
.button-3bklZh {
    border-radius: 50%;
    transition: .2s;
}
.wrapper-2vIMkT {
    padding: 3px;
    gap: 3px;
    height: 38px;
    transition: .2s;
}
.button-3bklZh:hover {
    background-color: var(--background-tertiary);
}
.button-3bklZh:hover > svg {
    color: var(--header-primary) !important;
}
.sidebarRegionScroller-FXiQOh {
    background-color: var(--background-floating);
}
.bottomControls-31YuPK > .horizontal-112GEH:has(.controlButton-2PMNom) {
    margin-bottom: -15px;
    background-color: rgb(0,0,0,0.6);
    border-radius: 12px 12px 0 0;
    padding: 8px;
    backdrop-filter: blur(8px);
}
.guilds-2JjMmN.hidden-10MsGQ {
    margin-left: 0;
}
.sidebar-1tnWFu.hidden-38rxp9 {
    margin: 0;
}
.wrapper-1gVUIN:has(.callContainer-HtHELf) {
    margin: 6px;
    border-radius: 16px;
    overflow: hidden;
    transition: .2s;
}
.wrapper-1gVUIN:has(.callContainer-HtHELf).fullScreen-KhZZcz {
    margin: 0;
    border-radius: 0;
}
.container-1zzFcN {
    background: none;
    border-width: 0;
}
.pill-2RsI5Q, .pill-L_aLMQ, .pill-1NRFie, .pill-22lZHo, #app-mount .pill-2RsI5Q *, #app-mount .pill-L_aLMQ *, #app-mount .pill-1NRFie *, #app-mount .pill-22lZHo * {
    display: none !important;
    transition: 0s !important;
}
.hover-3m7-WT + div > .pill-2RsI5Q, #app-mount .pill-2RsI5Q:has(+ div .wrapper-3kah-n.selected-1Drb7Z), #app-mount .pill-L_aLMQ:has(+ div .wrapper-3kah-n.selected-1Drb7Z), #app-mount .pill-1NRFie:has(+ div .wrapper-3kah-n.selected-1Drb7Z), #app-mount .pill-22lZHo:has(+ div .wrapper-3kah-n.selected-1Drb7Z) {
    opacity: 0;
}
.item-2LIpTv {
    margin-top: 5px;
    margin-left: 4px;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    transition: 0s !important;
    background-color: var(--brand-experiment);
}
.iconBadge-3Mmg92 {
    bottom: 12px;
    right: 12px;
    background-color: var(--brand-experiment);
}
.menu-2TXYjN > div {
    padding: 8px 0;
}
.menu-2TXYjN > div::-webkit-scrollbar {
    width: 0;
}
.menu-2TXYjN {
    background-color: var(--background-primary);
    border-radius: 8px;
    width: 240px;
}
.side-1lrxIh {
    width: 254px;
}
.sidebar-nqHbhN {
    padding-left: 0;
    padding-right: 0;
}
.sidebar-nqHbhN, .sidebarRegionScroller-FXiQOh, .sidebarRegion-1VBisG {
    width: 262px;
    max-width: unset;
    min-width: unset;
    float: left;
}
.sidebarRegionScroller-FXiQOh, .sidebarRegion-1VBisG {
    justify-content: start;
    flex: 0 1 auto;
}
.contentRegionShownSidebar-fHXkEg {
    justify-content: center;
}
.menu-2TXYjN .item-5ApiZt, .side-1lrxIh .item-2GWPIy {
    border-radius: 0 !important;
    padding: 12px 16px;
    transition: .15s;
}
#app-mount .menu-2TXYjN .item-5ApiZt:hover, #app-mount .menu-2TXYjN .item-5ApiZt:active, #app-mount .menu-2TXYjN .item-5ApiZt.focused-3LIdPu {
    background-color: var(--background-secondary) !important;
}
.winButton-3UMjdg {
    height: 36px;
    width: 36px;
    top: 0;
    transition: .2s;
    border-radius: 50%;
    background-color: var(--background-tertiary) !important;
    justify-content: center;
}
.platform-win:has(.callContainer-HtHELf) .winButton-3UMjdg {
    margin-top: 6px;
}
.platform-win:has(.callContainer-HtHELf) .container-ZMc96U {
    width: calc(100% - ((36px * 3) + 18px));
}
.winButton-3UMjdg:hover > svg {
    transition: .2s;
    color: var(--interactive-hover) !important;
}
.titleBar-1it3bQ {
    margin-top: 0;
    height: 36px;
    padding: 6px 12px;
    gap: 8px;
    position: absolute;
    right: 0;
}
.platform-win .bg-1QIAus {
    top: -46px;
}
.search-39IXmY {
    margin: 0 4px;
}
.platform-win .container-ZMc96U {
    width: calc(100% - ((36px * 3) + 24px));
}
.wordmark-2u86JB {
    display: none;
}
#app-mount .footerSeparator-3U8YsT {
    box-shadow: none;
    -webkit-box-shadow: none;
    color: var(--header-primary);
    background-color: transparent;
}
#Synapse-card .bd-name::after {
    counter-reset: synapse-version var(--synapse-version) synapse-subversion var(--synapse-subversion);
    content: ' (Version ' counter(synapse-version)'.'counter(synapse-subversion) ')';
}
.container-ZMc96U {
    -webkit-app-region: drag;
}
.container-ZMc96U * {
    -webkit-app-region: no-drag;
}
.inviteToolbar-2k2nqz > .divider-q3P9HC {
    display: none;
}
.inviteToolbar-2k2nqz > .iconWrapper-2awDjA > svg {
    scale: 0.9;
}
.avatar-1HDIsL:has(> svg) {
    background-color: var(--background-secondary);
    border-radius: 50%;
}
.avatar-1HDIsL:has(> svg) > svg {
    scale: 0.9;
    color: var(--brand-experiment);
}
.container-x8Y1ix {
    background-color: var(--background-secondary);
    border: none;
    height: 58px;
}
#app-mount .panel-2ZFCRb {
    border-bottom: none;
    background: transparent;
}
.itemCard-3Etziu .headerIcon-2ra-HY {
    height: 60px;
    width: 60px;
    order: 3;
    border-radius: 12px;
}
.itemCard-3Etziu, .itemCard-3Etziu .header-3jUeHi {
    height: fit-content;
    max-height: unset;
}
.itemCard-3Etziu .headerAvatar-GgCKcl foreignObject {
    mask: none !important;
}
.itemCard-3Etziu .headerAvatar-GgCKcl rect {
    display: none !important;
}
.itemCard-3Etziu .headerAvatar-GgCKcl .avatarStack-3Bjmsl > img {
    border-radius: 50%;
    height: 20px !important;
    width: 20px !important;
}
.itemCard-3Etziu .headerAvatar-GgCKcl {
    border-radius: 50%;
    border: 5px solid var(--background-primary);
    order: 2;
    display: flex;
    position: absolute;
    right: 35px;
    height: 20px !important;
    width: 20px !important;
    bottom: -5px;
    transition: .2s;
}
.itemCard-3Etziu:hover .headerAvatar-GgCKcl {
    border-color: var(--background-accent);
}
.itemCard-3Etziu {
    background-color: var(--background-primary);
    transition: .2s;
    border-radius: 20px;
    padding: 10px;
    min-height: 60px;
}
.itemCard-3Etziu:hover {
    background-color: var(--background-accent) !important;
}
.itemCard-3Etziu .header-3jUeHi {
    grid-template-columns: minmax(20px,auto) 60px;
    position: relative;
}

.itemCard-3Etziu .body-16rSsp {
    margin-top: 0;
    background-color: transparent !important;
    margin-top: -22px;
}
.itemCard-3Etziu .body-16rSsp > .section-3G9aLW {
    padding: 0;
    background-color: transparent !important;
}
.itemCard-3Etziu .body-16rSsp > .section-3G9aLW .activitySectionAssets-1wpe42 {
    display: none;
}
.itemCard-3Etziu .body-16rSsp > .section-3G9aLW > .activitySection-20iylG {
    grid-template-columns: minmax(20px,auto);
}
.itemCard-3Etziu .header-3jUeHi:has(~ .body-16rSsp) {
    align-items: start;
}
.itemCard-3Etziu .body-16rSsp .text-xs-normal-3O7EaX {
    display: none;
}
.nowPlayingColumn-1eCBCN {
    max-width: 300px;
    min-width: 300px;
}
.nowPlayingColumn-1eCBCN .scroller-hE2gWq {
    border-left: none;
}
.searchBar-2aylmZ {
    background: transparent;
    border-radius: 50px;
    border: 1px solid var(--primary-500);
}
.privateChannelRecipientsInviteButtonIcon-1ObKXK::after {
    content: attr(aria-label);
    display: inline-flex;
    color: var(--white);
}
#bd-editor-controls button {
    padding: 6px;
    height: 32px;
    width: 32px;
    filter: none !important;
    border-radius: 50%;
    background-color: var(--background-tertiary) !important;
    margin-right: 0;
}
#bd-editor-controls {
    padding: 0;
    justify-content: end;
}
.floating-window #bd-editor-controls > .controls-section {
    gap: 8px;
    position: absolute;
    right: 88px;
    top: 5px;
}
#customcss-tab #bd-editor-controls {
    position: relative;
}
#customcss-tab #bd-editor-controls > .controls-section {
    gap: 8px;
    position: absolute;
    right: 0px;
    bottom: 16px;
}
#customcss-tab #bd-editor-controls > .controls-right {
    top: -48px;
    gap: 92px;
}
#bd-editor-controls button > svg {
    transform: translate(1px, 1px);
}
.floating-window #bd-editor-controls, .floating-window-titlebar {
    background-color: var(--background-primary) !important;
}
.floating-window-titlebar {
    height: 42px;
}
.floating-window-buttons {
    gap: 8px;
}
.floating-window-buttons .button {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: var(--background-tertiary) !important;
}
.floating-window-buttons .button.close-button {
    margin-right: 8px;
}
.floating-window {
    box-shadow: var(--elevation-stroke),var(--elevation-high);
    border-radius: 8px;
}
.monaco-editor .find-widget.visible {
    transform: translateY(8px) !important;
    box-shadow: var(--elevation-stroke),var(--elevation-high);
    border-radius: 8px;
    background-color: var(--background-primary);
    padding: 8px;
    height: fit-content !important;
    width: fit-content !important;
}
.monaco-editor .find-widget .find-part {
    margin-top: 0 !important;
    margin-left: 28px !important;
    height: 32px !important;
    align-items: center !important;
}
.monaco-editor .find-widget .monaco-sash {
    background-color: var(--background-primary) !important;
}
.monaco-editor .find-widget .button, .monaco-custom-checkbox {
    height: 26px !important;
    width: 26px !important;
    border-radius: 50%;
    background-color: var(--background-tertiary) !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.monaco-editor .find-widget .button.toggle {
    margin-top: 11px;
    margin-left: 5px !important;
}
.monaco-editor .find-widget>.find-part .monaco-inputbox>.wrapper>.input {
    width: 100% !important;
}
.monaco-editor .find-widget .monaco-findInput {
    align-items: center !important;
}
.monaco-editor .find-widget .monaco-findInput .monaco-scrollable-element {
    margin-right: 86px !important;
}
.monaco-editor .find-widget .matchesCount {
    min-width: unset !important;
    margin: 0 5px !important;
}
.monaco-findInput>.controls {
    top: 0 !important;
}
.monaco-editor .find-widget>.find-part .monaco-inputbox>.wrapper>.input {
    background-color: transparent !important;
    border: 1px solid var(--primary-500);
    border-radius: 50px;
    padding: 0 8px !important;
    height: 24px !important;
    line-height: 22px !important;
}
.monaco-editor .find-widget>.find-part .monaco-inputbox {
    background-color: transparent !important;
}
.monaco-editor .find-widget>.find-part .monaco-inputbox>.wrapper>.mirror {
    padding-right: 2px !important;
}
.connection-3k9QeF .button-12Fmur {
    border-radius: 50%;
    background-color: var(--background-tertiary) !important;
    height: 36px;
    width: 36px;
}
.connection-3k9QeF .button-12Fmur:hover {
    background-color: var(--background-secondary) !important;
}
.connection-3k9QeF .directionRow-2Iu2A9 {
    gap: 4px;
}
.actionButtons-2vEOUh .button-1EGGcP.buttonColor-3bP3fX {
    border-radius: 16px;
    background-color: var(--background-tertiary) !important;
}
.actionButtons-2vEOUh .button-1EGGcP.buttonColor-3bP3fX:hover {
    background-color: var(--background-secondary) !important;
}
.container-1zzFcN:has(.rtcConnectionQualityFine-3zZrSa) {
    background-color: var(--text-positive);
}
.container-1zzFcN:has(.rtcConnectionQualityAverage-USzsaD) {
    background-color: var(--text-warning);
}
.container-1zzFcN:has(.rtcConnectionQualityBad-3fxsmZ) {
    background-color: var(--text-danger);
}
.container-1zzFcN .inner-llGtyq * {
    color: var(--white-500) !important;
}
.container-1zzFcN {
    margin: 5px;
    border-radius: 8px;
}
.activityPanel-9icbyU .button-12Fmur::before {
    content: attr(aria-label);
    display: inline-flex;
}
.activityPanel-9icbyU .button-12Fmur > .contents-3NembX {
    display: inline-flex;
}
.activityPanel-9icbyU .button-12Fmur {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 8px;
    padding: 0 8px;
    border-radius: 16px;
    background-color: var(--background-tertiary);
    transition: .2s;
}
.activityPanel-9icbyU .button-12Fmur:hover {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 8px;
    padding: 0 8px;
    border-radius: 16px;
    background-color: var(--background-secondary);
    transition: .2s;
}
.activityPanel-9icbyU .panelButtonContainer-zIflxz {
    width: fit-content;
}
.children-3xh0VB {
    gap: 4px;
}
.lowerBadge-3j0ZAg, .upperBadge-1d6YsW {
    box-shadow: inset 0 0 0 4px var(--background-tertiary) !important;
    border-radius: 50%;
    padding: 4px;
}
#bd-editor-controls .controls-section.controls-right {
    top: 14px;
    right: 218px;
}
#bd-editor-controls .controls-section.controls-right .checkboxElement-1qV33p {
    margin: 0;
}
.bd-button {
    background-color: var(--brand-experiment);
}
.bd-button:hover {
    background-color: var(--brand-experiment-600);
}
.radioBar-1XgZqD {
    border: none !important;
    padding: 10px 15px !important;
}
.itemFilled-2Fo7lr[aria-checked=true]:has(> .radioBar-1XgZqD) {
    background-color: var(--background-secondary);
}
.itemFilled-2Fo7lr:has(> .radioBar-1XgZqD):hover {
    background-color: var(--background-tertiary);
}
.item-1TA5qI:has(> .radioBar-1XgZqD) {
    background-color: transparent;
    border-radius: 0;
    margin-bottom: 0;
    transition: .15s;
}
.radioIconForeground-3wH3aU {
    height: 20px;
    width: 20px;
    color: var(--brand-experiment);
    scale: 1.5;
    cx: 7.6;
    cy: 7.6;
}
.container-1QtPKm .slider-HJFN2i > svg > path, .container-1QtPKm .slider-HJFN2i > rect, .bd-switch input+.bd-switch-body .bd-switch-slider > rect, .bd-switch input+.bd-switch-body .bd-switch-slider path {
    fill: white !important;
}
.container-1QtPKm .slider-HJFN2i {
    margin-top: -2px;
    margin-left: -4px;
}
.bd-switch input+.bd-switch-body .bd-switch-slider {
    left: -12px;
    top: -5px;
}
.bd-switch input:checked+.bd-switch-body .bd-switch-slider {
    left: 10px;
}
.container-1QtPKm.checked-16gMAN .slider-HJFN2i {
    margin-left: 0;
}
.bd-switch input:checked+.bd-switch-body .bd-switch-slider > rect, .bd-switch input:checked+.bd-switch-body .bd-switch-slider path, .container-1QtPKm.checked-16gMAN .slider-HJFN2i > svg > path, .container-1QtPKm.checked-16gMAN .slider-HJFN2i > rect {
    fill: var(--brand-experiment-300) !important;
}
.container-1QtPKm:has(.slider-HJFN2i), .bd-switch input+.bd-switch-body {
    height: 14px;
    width: 28px !important;
}
.container-1QtPKm.checked-16gMAN:has(.slider-HJFN2i), .bd-switch input:checked+.bd-switch-body {
    background-color: var(--brand-experiment) !important;
}
.bar-2H7Q9u {
    height: 2px;
    top: 16px;
}
.grabber-3R-Rx9 {
    background-color: var(--brand-experiment-300);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -10px;
}
.markDash-1ATsxA {
    height: 20px;
}
#app-mount .footerSeparator-3U8YsT:has(.footerButton-24QPis) .footerButton-24QPis {
    padding: 16px !important;
    height: fit-content;
    background-color: var(--background-secondary);
    transition: .15s;
}
#app-mount .footerSeparator-3U8YsT:has(.footerButton-24QPis) .footerButton-24QPis:hover {
    background-color: var(--background-tertiary);
}
