:root {
    --mobilev2-background-color: var(--mobilev2-background-color-inner);
    --mobilev2-background-image: none;
}

:root {
    --mobilev2-background-color-inner: var(--bg-overlay-chat,var(--background-primary));
}
.pill-2RsI5Q, .pill-L_aLMQ, .pill-1NRFie, .pill-22lZHo {
    display: none;
}
.svg-2ifYOU > foreignObject {
    mask: none !important;
}
.svg-2ifYOU {
    border-radius: 12px;
}
.blobContainer-ikKyFs {
    border-radius: 20px;
    transition: .2s;
}
.blobContainer-ikKyFs.selected-3c78Ai, .blobContainer-ikKyFs:hover {
    background-color: var(--background-primary);
    box-shadow: inset 0 0 0 2px var(--brand-experiment),inset 0 0 0 4px var(--background-floating);
}
.wrapper-2PSQCG {
    transition: .2s;
    padding: 4px;
    width: 56px;
    height: 56px;
    border-radius: 20px;
}
.wrapper-2PSQCG > svg {
    margin: 4px;
    border-radius: 16px;
}
.pill-2RsI5Q:has(.item-2LIpTv) + div .wrapper-2PSQCG:has(.folder-241Joy.hover-3m7-WT), .wrapper-2PSQCG:has(.folder-241Joy.hover-3m7-WT) {
    box-shadow: inset 0 0 0 2px var(--brand-experiment),inset 0 0 0 4px var(--background-tertiary) !important;
}
.pill-2RsI5Q:has(.item-2LIpTv) + div .wrapper-2PSQCG {
    box-shadow: inset 0 0 0 4px var(--background-tertiary);
}
.pill-2RsI5Q:has(.item-2LIpTv[style="opacity: 1; height: 8px; transform: none;"]) + div .wrapper-2PSQCG {
    box-shadow: inset 0 0 0 2px var(--status-danger),inset 0 0 0 4px var(--background-tertiary);
}
.closedFolderIconWrapper-3tRb2d {
    grid-template: 18px 18px/18px 18px;
    padding: 6px;
}
.wrapper-2PSQCG {
    border-radius: 20px;
    transition: .2s;
    padding: 4px;
    width: 56px;
    height: 56px;
}
.wrapper-2PSQCG:has(.homeIcon-r0w4ny) > svg {
    margin: 4px;
}
.searchBar-3TnChZ {
    box-shadow: none;
}
.privateChannels-oVe7HL, .privateChannels-oVe7HL > .scrollerBase-1Pkza4, .container-2o3qEW {
    background: none !important;
}
.wrapper-2PSQCG:has(.wrapper-3kah-n.selected-1Drb7Z) {
    box-shadow: inset 0 0 0 2px var(--brand-experiment),inset 0 0 0 4px var(--background-floating) !important;
}
.circleIconButton-1VxDrg > svg {
    color: var(--header-primary);
    transition: .2s;
}
.circleIconButton-1VxDrg:hover > svg {
    color: var(--white-500);
}
.circleIconButton-1VxDrg.selected-2r1Hvo {
    background-color: var(--brand-experiment);
}
.layers-OrUESM {
    background-color: var(--mobilev2-background-color);
    transition: .2s;
}
.channelTextArea-1FufC0 {
    background-color: transparent;
}
.bg-1QIAus {
    background: var(--mobilev2-background-image);
    transition: .2s;
}
.sidebar-1tnWFu, .container-1NXEtd {
    background-color: var(--background-tertiary) !important;
    background: var(--background-tertiary);
}
.contentRegion-3HkfJJ, .contentRegionScroller-2_GT_N {
    background-color: var(--background-floating);
    background: var(--background-floating);
}
.channel-1Shao0 {
    max-width: 324px;
    border-radius: 12px;
}
.channel-1Shao0 .layout-1LjVue {
    padding: 6px 12px;
}
.membersWrap-3NUR2t {
    background-color: var(--background-tertiary);
    margin: 5px;
    height: calc(100% - 10px);
    border-radius: 12px;
    width: 280px;
    box-shadow: var(--elevation-medium);
    overflow: hidden;
}
.panels-3wFtMD {
    background-color: var(--background-floating);
    margin: 5px;
    border-radius: 16px;
    box-shadow: var(--elevation-medium);
    margin-top: 0;
    width: 310px;
    margin-bottom: 10px;
}
.panels-3wFtMD > .container-YkUktl {
    background: none;
    padding: 0;
}
.bannerImg-2PzH6z {
    width: 320px;
}
.panels-3wFtMD > .container-YkUktl > .flex-2S1XBF > button {
    transition: .2s;
    width: calc(320px/4);
    justify-content: center;
    height: 53px;
    border-radius: 0;
    color: var(--header-primary);
}
.panels-3wFtMD > .container-YkUktl > .flex-2S1XBF > button:hover, .panels-3wFtMD > .container-YkUktl > .avatarWrapper-1B9FTW:hover {
    background-color: var(--background-secondary);
}
.panels-3wFtMD > .container-YkUktl > .flex-2S1XBF > button:last-child {
    border-radius: 0 15px 15px 0;
}
.panels-3wFtMD > .container-YkUktl > .flex-2S1XBF {
    height: 53px;
}
.panels-3wFtMD > .container-YkUktl > .avatarWrapper-1B9FTW {
    margin: 0;
    padding-left: 0;
    width: calc(320px/4);
    justify-content: center;
    height: 53px;
    min-width: unset;
    transition: .2s;
    border-radius: 15px 0 0 15px;
}
.panels-3wFtMD > .container-YkUktl > .avatarWrapper-1B9FTW > .nameTag-sc-gpq {
    display: none;
}
.unread-36eUEm {
    background-color: var(--brand-experiment);
    width: 8px;
    border-radius: 50%;
    margin-left: 4px;
    z-index: +1;
}
.content-1gYQeQ {
    border-radius: 12px;
    padding: 2px 8px;
}
.iconContainer-21RCa3 {
    padding: 6px;
    background-color: var(--background-secondary);
    border-radius: 50%;
}
.iconContainer-21RCa3 > svg {
    color: var(--brand-experiment) !important;
}
.sidebar-1tnWFu {
    border-radius: 0 16px 16px 0 !important;
    width: 320px;
    max-width: 320px;
    position: relative;
    margin: 16px 0;
    margin-left: -320px;
    transition: .7s, bos-shadow .1s;
    z-index: +1;
}
.sidebar-1tnWFu {
    padding-right: 12px;
}
.sidebar-1tnWFu:hover, .guilds-2JjMmN:hover + .base-2jDfDU .sidebar-1tnWFu {
    padding-right: 0px;
}
.header-3OsQeK {
    box-shadow: none;
}
.form-3gdLxP:before {
    content: none;
}
.sidebar-1tnWFu::before {
    content: "";
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(calc(-50% - 8px)) rotate(-12deg);
    width: 3px;
    height: 18px;
    background-color: var(--background-accent);
    border-radius: 8px;
    z-index: +2;
    transition: .2s;
}
.sidebar-1tnWFu::after {
    content: "";
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(calc(-50% + 8px)) rotate(12deg);
    width: 3px;
    height: 18px;
    background-color: var(--background-accent);
    border-radius: 8px;
    z-index: +1;
    transition: .2s;
}
.sidebar-1tnWFu:hover, .guilds-2JjMmN:hover + .base-2jDfDU .sidebar-1tnWFu {
    margin-left: 0;
}
.sidebar-1tnWFu:hover::before, .guilds-2JjMmN:hover + .base-2jDfDU .sidebar-1tnWFu::before {
    transform: translateY(calc(-50% - 8px));
}
.sidebar-1tnWFu:hover::after, .guilds-2JjMmN:hover + .base-2jDfDU .sidebar-1tnWFu::after {
    transform: translateY(calc(-50% + 8px));
}
.animatedContainer-2laTjx {
    border-radius: 16px 16px 0 0;
    overflow: hidden;
}
.header-3OsQeK {
    transition: .2s;
}
.container-2giAcK {
    margin-top: 0;
}
.searchBar-jGtisZ > .DraftEditor-root {
    width: 24px;
    position: absolute;
}
.search-2Mwzzq .DraftEditor-root .public-DraftEditorPlaceholder-root {
    color: transparent;
}
.search-2Mwzzq.open-1F8u2c .DraftEditor-root .public-DraftEditorPlaceholder-root {
    color: var(--text-muted);
}
.searchBar-jGtisZ {
    width: fit-content;
    height: fit-content;
    padding: 6px;
    cursor: pointer !important;
    border-radius: 50%;
    position: relative;
    transition: .2s;
}
.search-2Mwzzq.open-1F8u2c > .searchBar-jGtisZ {
    border-radius: 36px;
}
.search-2Mwzzq.open-1F8u2c > .searchBar-jGtisZ > .DraftEditor-root {
    width: unset;
    position: unset;
}
.searchBar-jGtisZ > .icon-tZMHgY > .iconContainer-1RqWJj {
    width: 24px;
    height: 24px;
}
.searchBar-jGtisZ > .icon-tZMHgY {
    cursor: pointer !important;
}
.iconWrapper-2awDjA, .recentsIcon-F3eO1o {
    margin: 0 4px;
    padding: 6px;
    background-color: var(--background-tertiary);
    border-radius: 50%;
    height: 36px;
    width: 36px;
    min-height: unset;
}
.privateChannelRecipientsInviteButtonIcon-1ObKXK {
    height: 32px;
    width: fit-content;
    padding: 0 !important;
    background-color: var(--brand-experiment);
    border-radius: 16px;
    box-shadow: var(--elevation-medium);
    display: flex;
    align-items: center;
    padding-right: 8px !important;
}
.privateChannelRecipientsInviteButtonIcon-1ObKXK > svg {
    color: var(--white-500) !important;
    width: 24px;
    height: 24px;
    min-width: 24px;
    margin: 4px;
    box-shadow: none;
    display: inline-flex;
    padding-right: 0 !important;
}
.privateChannelsHeaderContainer-1UWASm {
    height: fit-content;
    align-items: center;
    margin-bottom: 4px;
    overflow: visible;
}
.member-48YF_l, .members-3WRCEx {
    background: none;
}
.member-2gU6Ar {
    background-color: var(--background-floating);
    opacity: 1;
    border-radius: 0;
    padding: 0;
    max-width: 264px;
    width: 264px;
    border-bottom: 1px solid var(--background-secondary-alt);
}
.members-3WRCEx {
    max-width: 280px;
    width: 280px;
}
.member-2gU6Ar > div {
    background-color: transparent !important;
}
.member-2gU6Ar:hover {
    background-color: var(--background-secondary-alt);
}
.members-3WRCEx > .member-2gU6Ar:first-of-type {
    border-radius: 14px 14px 0 0;
}
.members-3WRCEx > .member-2gU6Ar:nth-last-of-type(2), .members-3WRCEx > .member-2gU6Ar:nth-last-of-type(1), .content-yjf30S > .member-2gU6Ar:nth-last-of-type(1) {
    border-radius: 0 0 14px 14px;
    border-bottom: none;
}
.members-3WRCEx > .member-2gU6Ar:nth-last-of-type(1) {
    border-radius: 0 0 14px 14px;
    border-bottom: none;
}
.membersGroup-2eiWxl + .member-2gU6Ar {
    border-radius: 14px 14px 0 0;
}
.member-2gU6Ar:has(+ .membersGroup-2eiWxl) {
    border-radius: 0 0 14px 14px;
}
.membersGroup-2eiWxl + .member-2gU6Ar:has(+ .membersGroup-2eiWxl) {
    border-radius: 14px;
    border-bottom: none;
}
.membersGroup-2eiWxl + .member-2gU6Ar:nth-last-of-type(1) {
    border-radius: 14px;
    border-bottom: none;
}
.offline-22aM7E > div {
    opacity: .3;
}
.recentsIcon-F3eO1o > .iconWrapper-2awDjA {
    background-color: transparent;
    margin: 0;
    padding: 0;
}
.scrollableContainer-15eg7h {
    background: none;
}
.textArea-2CLwUE {
    border-radius: 22px;
    border: 1px solid var(--primary-500);
    margin-right: 4px;
}
.textArea-2CLwUE > div > .placeholder-1rCBhr, .textArea-2CLwUE > div > .placeholder-1rCBhr + div, .slateTextArea-27tjG0 {
    padding-left: 10px;
}
.attachButton-1ijpt9 {
    padding: 10px;
    margin-right: 10px;
    background-color: var(--background-tertiary);
    border-radius: 50%;
}
.attachButton-1ijpt9 path {
    d: path("M20 11.1111H12.8889V4H11.1111V11.1111H4V12.8889H11.1111V20H12.8889V12.8889H20V11.1111Z");
}
.scrollableContainer-15eg7h {
    padding: 1px 0;
    border-radius: 0;
    padding-top: 6px;
}
.upload-vLbqu- {
    background-color: transparent;
    padding: 0;
}
.upload-vLbqu- .actionBar-1ozugS {
    transform: translateX(8px);
    box-shadow: var(--elevation-medium);
    border-radius: 32px;
}
.upload-vLbqu- .actionBar-1ozugS > .wrapper-2vIMkT {
    box-shadow: none;
    border-radius: 32px;
    background-color: var(--background-tertiary);
}
.upload-vLbqu-, .upload-vLbqu- > .uploadContainer-TCg-Ji {
    height: 167px;
    min-height: unset;
}
.upload-vLbqu- .imageContainer-ZRSemj, .upload-vLbqu- .filenameContainer-2qwz8w {
    margin-top: 10px;
}
.channelTextArea-1VQBuV .divider-2rZFJK {
    display: none;
}
.buttons-uaqb-5 > * {
    background-color: var(--background-tertiary);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    justify-content: center;
}
.buttons-uaqb-5 {
    margin-right: 0 !important;
    gap: 4px;
}
.contentWrapper-3vHNP2:has(#emoji-picker-tab) .navList-YSb9UB > button {
    margin: 0;
    width: calc((100%/3) - 1.5px);
    padding: 4px;
}
.contentWrapper-3vHNP2:has(#emoji-picker-tab) .navList-YSb9UB {
    background-color: var(--background-tertiary);
    padding: 2px;
    gap: 2px;
    border-radius: 4px;
}
.nav-1zWVQw {
    height: fit-content;
}
.contentWrapper-3vHNP2:has(#emoji-picker-tab) .header-11eigE {
    box-shadow: none !important;
    -webkit-box-shadow: none;
}
.contentWrapper-3vHNP2:has(#emoji-picker-tab) .categoryList-2qRrlj {
    background-color: var(--background-primary);
}
.contentWrapper-3vHNP2:has(#emoji-picker-tab) .wrapper-3u51GQ, #gif-picker-tab-panel, #sticker-picker-tab-panel {
    margin-top: 8px !important;
}
.contentWrapper-3vHNP2:has(#emoji-picker-tab) .container-1SX9VC, .contentWrapper-3vHNP2:has(#gif-picker-tab-panel) .container-2oNtJn {
    border: 1px solid var(--primary-500);
    border-radius: 50px;
    background-color: transparent;
}
.resizeHandle-T_gFJR::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    width: 4px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--primary-500);
}
.contentWrapper-3vHNP2:has(#emoji-picker-tab) {
    background-color: var(--background-primary);
    box-shadow: var(--elevation-high) !important;
}
.drawerSizingWrapper-1txdWG:has(#emoji-picker-tab) {
    padding: 4px;
    padding-left: 12px;
}
.drawerSizingWrapper-1txdWG:has(#emoji-picker-tab)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: var(--background-tertiary);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
}
.expandedFolderBackground-1kSAf6 {
    background-color: transparent;
}
.iconWrapper-2awDjA:has(path[d^="M11 5V3C16.515"], path[d^="M21.526 8.149C21.231"]) {
    background-color: transparent;
    border: 1px solid var(--primary-500);
    width: max-content;
    display: flex;
    flex-direction: row;
    border-radius: 36px;
    align-items: center;
    gap: 4px;
}
.iconWrapper-2awDjA:has(path[d^="M11 5V3C16.515"], path[d^="M21.526 8.149C21.231"])::after {
    content: attr(aria-label);
    display: inline-block;
    padding-right: 4px;
}
.iconBadge-3Mmg92 {
    bottom: 12px;
    right: 12px;
    background-color: var(--brand-experiment);
}
.content-1jQy2l:before, .tabBody-2dgbAs:before, .headerBar-1dSpQr:before {
    content: none;
}
.tabBar-ra-EuL {
    background-color: var(--background-tertiary);
    padding: 2px;
    border-radius: 3px;
    gap: 2px;
}
.tabBar-ra-EuL .item-3mHhwr {
    margin: 0;
    padding: 4px 12px;
    border-radius: 2px;
}
.icon-2xnN2Y:has(path[d="M0.5,0 L0.5,1.5 C0.5,5.65 2.71,9.28 6,11.3 L6,16 L21,16 L21,14 C21,11.34 15.67,10 13,10 C13,10 12.83,10 12.75,10 C8,10 4,6 4,1.5 L4,0 L0.5,0 Z M13,0 C10.790861,0 9,1.790861 9,4 C9,6.209139 10.790861,8 13,8 C15.209139,8 17,6.209139 17,4 C17,1.790861 15.209139,0 13,0 Z"]) {
    margin-left: -2px;
}
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    padding: 6px 12px;
    background-color: var(--background-floating);
    height: fit-content;
    border-radius: 12px;
}
.attachedBars-2BCP3l {
    margin-left: -16px;
    width: calc(100% + 32px);
    border-radius: 0;
    padding: 4px;
}
.newMessagesBar-1hF-9G {
    margin-left: -16px;
    width: calc(100% - 24px);
    border-radius: 0;
    padding: 4px;
}
.guilds-2JjMmN {
    transition: .7s;
    z-index: +1;
}
.guilds-2JjMmN:hover, .container-1eFtFS:has(.sidebar-1tnWFu:hover) .guilds-2JjMmN {
    margin-left: 0;
}
.wrapper-38slSD:has(> ul) > ul {
    height: fit-content !important;
}
.message-2CShn3::before {
    width: 3px;
    border-radius: 5px;
    height: 70%;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
}
.wrapper-2vIMkT {
    background-color: transparent;
    box-shadow: none !important;
}
.buttons-3dF5Kd {
    border-radius: 32px;
    background-color: var(--brand-experiment);
    padding: 0;
    height: 38px;
    transition: .2s;
}
.button-3bklZh > svg {
    color: var(--white-500) !important;
}
.button-3bklZh {
    border-radius: 50%;
    transition: .2s;
}
.wrapper-2vIMkT {
    padding: 3px;
    gap: 3px;
    height: 38px;
    transition: .2s;
}
.button-3bklZh:hover {
    background-color: var(--background-tertiary);
}
.button-3bklZh:hover > svg {
    color: var(--header-primary) !important;
}
.sidebarRegionScroller-FXiQOh {
    background-color: var(--background-floating);
}
.bottomControls-31YuPK > .horizontal-112GEH:has(.controlButton-2PMNom) {
    margin-bottom: -15px;
    background-color: rgb(0,0,0,0.6);
    border-radius: 12px 12px 0 0;
    padding: 8px;
    backdrop-filter: blur(8px);
}
.sidebar-1tnWFu.hidden-38rxp9 {
    margin: 0;
}
.wrapper-1gVUIN:has(.callContainer-HtHELf) {
    margin: 6px;
    border-radius: 16px;
    overflow: hidden;
    transition: .2s;
}
.wrapper-1gVUIN:has(.callContainer-HtHELf).fullScreen-KhZZcz {
    margin: 0;
    border-radius: 0;
}
.container-1zzFcN {
    background: none;
    border-width: 0;
}
.pill-2RsI5Q, .pill-L_aLMQ, .pill-1NRFie, .pill-22lZHo, #app-mount .pill-2RsI5Q *, #app-mount .pill-L_aLMQ *, #app-mount .pill-1NRFie *, #app-mount .pill-22lZHo * {
    display: none !important;
    transition: 0s !important;
}
.hover-3m7-WT + div > .pill-2RsI5Q, #app-mount .pill-2RsI5Q:has(+ div .wrapper-3kah-n.selected-1Drb7Z), #app-mount .pill-L_aLMQ:has(+ div .wrapper-3kah-n.selected-1Drb7Z), #app-mount .pill-1NRFie:has(+ div .wrapper-3kah-n.selected-1Drb7Z), #app-mount .pill-22lZHo:has(+ div .wrapper-3kah-n.selected-1Drb7Z) {
    opacity: 0;
}
.item-2LIpTv {
    margin-top: 5px;
    margin-left: 4px;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    transition: 0s !important;
    background-color: var(--brand-experiment);
}
.iconBadge-3Mmg92 {
    bottom: 12px;
    right: 12px;
    background-color: var(--brand-experiment);
}
.menu-2TXYjN > div {
    padding: 8px 0;
}
.menu-2TXYjN > div::-webkit-scrollbar {
    width: 0;
}
.menu-2TXYjN {
    background-color: var(--background-primary);
    border-radius: 8px;
    width: 240px;
}
.side-1lrxIh {
    width: 254px;
}
.sidebar-nqHbhN {
    padding-left: 0;
    padding-right: 0;
}
.sidebar-nqHbhN, .sidebarRegionScroller-FXiQOh, .sidebarRegion-1VBisG {
    width: 262px;
    max-width: unset;
    min-width: unset;
    float: left;
}
.sidebarRegionScroller-FXiQOh, .sidebarRegion-1VBisG {
    justify-content: start;
    flex: 0 1 auto;
}
.contentRegionShownSidebar-fHXkEg {
    justify-content: center;
}
.menu-2TXYjN .item-5ApiZt, .side-1lrxIh .item-2GWPIy {
    border-radius: 0 !important;
    padding: 12px 16px;
    transition: .15s;
}
#app-mount .menu-2TXYjN .item-5ApiZt:hover, #app-mount .menu-2TXYjN .item-5ApiZt:active, #app-mount .menu-2TXYjN .item-5ApiZt.focused-3LIdPu {
    background-color: var(--background-secondary) !important;
}
.winButton-3UMjdg {
    height: 36px;
    width: 36px;
    top: 0;
    transition: .2s;
    border-radius: 50%;
    background-color: var(--background-tertiary) !important;
    justify-content: center;
}
.platform-win:has(.callContainer-HtHELf) .winButton-3UMjdg {
    margin-top: 6px;
}
.platform-win:has(.callContainer-HtHELf) .container-ZMc96U {
    width: calc(100% - ((36px * 3) + 18px));
}
.winButton-3UMjdg:hover > svg {
    transition: .2s;
    color: var(--interactive-hover) !important;
}
.titleBar-1it3bQ {
    margin-top: 0;
    height: 36px;
    padding: 6px 12px;
    gap: 8px;
    position: absolute;
    right: 0;
}
.platform-win .bg-1QIAus {
    top: -46px;
}
.search-39IXmY {
    margin: 0 4px;
}
.platform-win .container-ZMc96U {
    width: calc(100% - ((36px * 3) + 24px));
}
.wordmark-2u86JB {
    display: none;
}
#app-mount .footerSeparator-3U8YsT {
    box-shadow: none;
    -webkit-box-shadow: none;
    color: var(--header-primary);
    background-color: transparent;
}
.container-ZMc96U {
    -webkit-app-region: drag;
    background: transparent !important;
}
.container-ZMc96U * {
    -webkit-app-region: no-drag;
}
.inviteToolbar-2k2nqz > .divider-q3P9HC {
    display: none;
}
.inviteToolbar-2k2nqz > .iconWrapper-2awDjA > svg {
    scale: 0.9;
}
.avatar-1HDIsL:has(> svg) {
    background-color: var(--background-secondary);
    border-radius: 50%;
}
.avatar-1HDIsL:has(> svg) > svg {
    scale: 0.9;
    color: var(--brand-experiment);
}
.container-x8Y1ix {
    background-color: var(--background-secondary);
    border: none;
    height: 58px;
}
#app-mount .panel-2ZFCRb {
    border-bottom: none;
    background: transparent;
}
.itemCard-3Etziu .headerIcon-2ra-HY {
    height: 60px;
    width: 60px;
    order: 3;
    border-radius: 12px;
}
.itemCard-3Etziu, .itemCard-3Etziu .header-3jUeHi {
    height: fit-content;
    max-height: unset;
}
.itemCard-3Etziu .headerAvatar-GgCKcl foreignObject {
    mask: none !important;
}
.itemCard-3Etziu .headerAvatar-GgCKcl rect {
    display: none !important;
}
.itemCard-3Etziu .headerAvatar-GgCKcl .avatarStack-3Bjmsl > img {
    border-radius: 50%;
    height: 20px !important;
    width: 20px !important;
}
.itemCard-3Etziu .headerAvatar-GgCKcl {
    border-radius: 50%;
    border: 5px solid var(--background-primary);
    order: 2;
    display: flex;
    position: absolute;
    right: 35px;
    height: 20px !important;
    width: 20px !important;
    bottom: -5px;
    transition: .2s;
}
.itemCard-3Etziu:hover .headerAvatar-GgCKcl {
    border-color: var(--background-accent);
}
.itemCard-3Etziu {
    background-color: var(--background-primary);
    transition: .2s;
    border-radius: 20px;
    padding: 10px;
    min-height: 60px;
}
.itemCard-3Etziu:hover {
    background-color: var(--background-accent) !important;
}
.itemCard-3Etziu .header-3jUeHi {
    grid-template-columns: minmax(20px,auto) 60px;
    position: relative;
}

.itemCard-3Etziu .body-16rSsp {
    margin-top: 0;
    background-color: transparent !important;
    margin-top: -22px;
}
.itemCard-3Etziu .body-16rSsp > .section-3G9aLW {
    padding: 0;
    background-color: transparent !important;
}
.itemCard-3Etziu .body-16rSsp > .section-3G9aLW .activitySectionAssets-1wpe42 {
    display: none;
}
.itemCard-3Etziu .body-16rSsp > .section-3G9aLW > .activitySection-20iylG {
    grid-template-columns: minmax(20px,auto);
}
.itemCard-3Etziu .header-3jUeHi:has(~ .body-16rSsp) {
    align-items: start;
}
.itemCard-3Etziu .body-16rSsp .text-xs-normal-3O7EaX {
    display: none;
}
.nowPlayingColumn-1eCBCN {
    max-width: 300px;
    min-width: 300px;
}
.nowPlayingColumn-1eCBCN .scroller-hE2gWq {
    border-left: none;
}
.searchBar-2aylmZ {
    background: transparent;
    border-radius: 50px;
    border: 1px solid var(--primary-500);
}
.privateChannelRecipientsInviteButtonIcon-1ObKXK::after {
    content: attr(aria-label);
    display: inline-flex;
    color: var(--white);
}
#bd-editor-controls button {
    padding: 6px;
    height: 32px;
    width: 32px;
    filter: none !important;
    border-radius: 50%;
    background-color: var(--background-tertiary) !important;
    margin-right: 0;
}
#bd-editor-controls {
    padding: 0;
    justify-content: end;
}
.floating-window #bd-editor-controls > .controls-section {
    gap: 8px;
    position: absolute;
    right: 88px;
    top: 5px;
}
#customcss-tab #bd-editor-controls {
    position: relative;
}
#customcss-tab #bd-editor-controls > .controls-section {
    gap: 8px;
    position: absolute;
    right: 0px;
    bottom: 16px;
}
#customcss-tab #bd-editor-controls > .controls-right {
    top: -48px;
    gap: 92px;
}
#bd-editor-controls button > svg {
    transform: translate(1px, 1px);
}
.floating-window #bd-editor-controls, .floating-window-titlebar {
    background-color: var(--background-primary) !important;
}
.floating-window-titlebar {
    height: 42px;
}
.floating-window-buttons {
    gap: 8px;
}
.floating-window-buttons .button {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: var(--background-tertiary) !important;
}
.floating-window-buttons .button.close-button {
    margin-right: 8px;
}
.floating-window {
    box-shadow: var(--elevation-stroke),var(--elevation-high);
    border-radius: 16px;
    min-width: 530px !important;
    max-width: unset !important;
    max-height: unset !important;
}
.floating-window-titlebar > .title {
    padding: 0 16px;
    color: var(--header-primary);
}
.monaco-editor .find-widget.visible {
    transform: translateY(8px) !important;
    box-shadow: var(--elevation-stroke),var(--elevation-high);
    border-radius: 8px;
    background-color: var(--background-primary);
    padding: 8px;
    height: fit-content !important;
    width: fit-content !important;
}
.monaco-editor .find-widget .find-part {
    margin-top: 0 !important;
    margin-left: 28px !important;
    height: 32px !important;
    align-items: center !important;
}
.monaco-editor .find-widget .monaco-sash {
    background-color: var(--background-primary) !important;
}
.monaco-editor .find-widget .button, .monaco-custom-checkbox {
    height: 26px !important;
    width: 26px !important;
    border-radius: 50%;
    background-color: var(--background-tertiary) !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.monaco-editor .find-widget .button.toggle {
    margin-top: 11px;
    margin-left: 5px !important;
}
.monaco-editor .find-widget>.find-part .monaco-inputbox>.wrapper>.input {
    width: 100% !important;
}
.monaco-editor .find-widget .monaco-findInput {
    align-items: center !important;
}
.monaco-editor .find-widget .monaco-findInput .monaco-scrollable-element {
    margin-right: 86px !important;
}
.monaco-editor .find-widget .matchesCount {
    min-width: unset !important;
    margin: 0 5px !important;
}
.monaco-findInput>.controls {
    top: 0 !important;
}
.monaco-editor .find-widget>.find-part .monaco-inputbox>.wrapper>.input {
    background-color: transparent !important;
    border: 1px solid var(--primary-500);
    border-radius: 50px;
    padding: 0 8px !important;
    height: 24px !important;
    line-height: 22px !important;
}
.monaco-editor .find-widget>.find-part .monaco-inputbox {
    background-color: transparent !important;
}
.monaco-editor .find-widget>.find-part .monaco-inputbox>.wrapper>.mirror {
    padding-right: 2px !important;
}
.connection-3k9QeF .button-12Fmur {
    border-radius: 50%;
    background-color: var(--background-tertiary) !important;
    height: 36px;
    width: 36px;
}
.connection-3k9QeF .button-12Fmur:hover {
    background-color: var(--background-secondary) !important;
}
.connection-3k9QeF .directionRow-2Iu2A9 {
    gap: 4px;
}
.actionButtons-2vEOUh .button-1EGGcP.buttonColor-3bP3fX {
    border-radius: 16px;
    background-color: var(--background-tertiary) !important;
}
.actionButtons-2vEOUh .button-1EGGcP.buttonColor-3bP3fX:hover {
    background-color: var(--background-secondary) !important;
}
.container-1zzFcN:has(.rtcConnectionQualityFine-3zZrSa) {
    background-color: var(--text-positive);
}
.container-1zzFcN:has(.rtcConnectionQualityAverage-USzsaD) {
    background-color: var(--text-warning);
}
.container-1zzFcN:has(.rtcConnectionQualityBad-3fxsmZ) {
    background-color: var(--text-danger);
}
.container-1zzFcN .inner-llGtyq * {
    color: var(--white-500) !important;
}
.container-1zzFcN {
    margin: 5px;
    border-radius: 8px;
}
.activityPanel-9icbyU .button-12Fmur > .contents-3NembX {
    display: inline-flex;
}
.activityPanel-9icbyU button.button-12Fmur {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 8px;
    padding: 0 8px;
    border-radius: 16px;
    background-color: var(--background-tertiary);
    transition: .2s;
}
.activityPanel-9icbyU button.button-12Fmur:hover {
    background-color: var(--background-secondary);
}
.activityPanel-9icbyU .panelButtonContainer-zIflxz {
    width: fit-content;
}
.children-3xh0VB {
    gap: 4px;
}
.lowerBadge-3j0ZAg, .upperBadge-1d6YsW {
    box-shadow: inset 0 0 0 4px var(--background-tertiary) !important;
    border-radius: 50%;
    padding: 4px;
}
#bd-editor-controls .controls-section.controls-right {
    top: 14px;
    right: 218px;
}
#bd-editor-controls .controls-section.controls-right .checkboxElement-1qV33p {
    margin: 0;
}
.bd-button {
    background-color: var(--brand-experiment);
}
.bd-button:hover {
    background-color: var(--brand-experiment-600);
}
.radioBar-1XgZqD {
    border: none !important;
    padding: 10px 15px !important;
}
.itemFilled-2Fo7lr[aria-checked=true]:has(> .radioBar-1XgZqD) {
    background-color: var(--background-secondary);
}
.itemFilled-2Fo7lr:has(> .radioBar-1XgZqD):hover {
    background-color: var(--background-tertiary);
}
.item-1TA5qI:has(> .radioBar-1XgZqD) {
    background-color: transparent;
    border-radius: 0;
    margin-bottom: 0;
    transition: .15s;
}
.radioIconForeground-3wH3aU {
    height: 20px;
    width: 20px;
    color: var(--brand-experiment);
    scale: 1.5;
    cx: 7.6;
    cy: 7.6;
}
.container-1QtPKm .slider-HJFN2i > svg > path, .container-1QtPKm .slider-HJFN2i > rect {
    fill: white !important;
}
.container-1QtPKm .slider-HJFN2i {
    margin-top: -2px;
    margin-left: -4px;
}
.container-1QtPKm.checked-16gMAN .slider-HJFN2i {
    margin-left: 0;
}
.container-1QtPKm.checked-16gMAN .slider-HJFN2i > svg > path, .container-1QtPKm.checked-16gMAN .slider-HJFN2i > rect {
    fill: var(--brand-experiment-300) !important;
}
.container-1QtPKm:has(.slider-HJFN2i) {
    height: 14px;
    width: 28px !important;
}
.container-1QtPKm.checked-16gMAN:has(.slider-HJFN2i) {
    background-color: var(--brand-experiment) !important;
}
.bar-2H7Q9u {
    height: 2px;
    top: 16px;
}
.grabber-3R-Rx9 {
    background-color: var(--brand-experiment-300);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -10px;
}
.markDash-1ATsxA {
    height: 20px;
}
#app-mount .footerSeparator-3U8YsT:has(.footerButton-24QPis) .footerButton-24QPis {
    padding: 16px !important;
    height: fit-content;
    background-color: var(--background-secondary);
    transition: .15s;
}
#app-mount .footerSeparator-3U8YsT:has(.footerButton-24QPis) .footerButton-24QPis:hover {
    background-color: var(--background-tertiary);
}
.container-3wLKDe {
    background: transparent !important;
}
.children-3xh0VB:after {
    content: none;
}
.container-1PloNW {
    background-color: var(--background-secondary);
    border: none;
}
.container-1PloNW:hover {
    background-color: var(--background-tertiary);
}
.wrapper-1HIH0j > .content-1r-J1r {
    flex-direction: column;
}
.wrapper-1HIH0j > .content-1r-J1r > button {
    width: 100%;
}
#discordRadioList .radioStation:hover, #searchResultsPanel .radioStation:hover {
    box-shadow: inset 0 0 0 3px var(--brand-experiment),inset 0 0 0 6px var(--background-secondary);
}
#discordRadioList.display_list .radioStation, #searchResultsPanel.display_list .radioStation {
    transition: .2s;
}
#discordRadioSidebar {
    border-radius: 16px !important;
}
.children-3xh0VB {
    gap: 4px;
}
.lowerBadge-3j0ZAg, .upperBadge-1d6YsW {
    box-shadow: inset 0 0 0 4px var(--background-tertiary) !important;
    border-radius: 50%;
    padding: 4px;
}
#bd-editor-controls .controls-section.controls-right {
    top: 14px;
    right: 218px;
}
#bd-editor-controls .controls-section.controls-right .checkboxElement-1qV33p {
    margin: 0;
}
.headerContent-2SNbie {
    justify-content: space-between;
}
.headerContent-2SNbie > .text-md-semibold-2VMhBr {
    text-align: center;
}
.sidebar-3K3Z4C {
    border-right: none !important;
}
.contentContainer-3hXFtK {
    position: initial;
}
.contentWidth-3aWel5 {
    width: calc(100% - 10px);
    padding: 0;
}
.header-JUTO-g, .titleContainer-3fPic2 {
    background-color: transparent;
    margin-right: 0;
    margin-left: 0;
}
.layer-86YKbF:has(+ .layer-86YKbF) .title-31SJ6t {
    -webkit-app-region: no-drag !important;
}
#customcss-tab #bd-editor-controls > .controls-right {
    gap: 130px;
}
#customcss-tab #bd-editor-controls > .controls-left{
    margin-right: 40px;
    z-index: +1;
}
.returnButton-1xn3Ii .iconContainer-21RCa3 {
    background-color: transparent;
    padding: 0;
}
.bd-switch-body .bd-switch-slider > rect, .bd-switch-body .bd-switch-slider > svg > path {
    fill: #fff;
}
.bd-switch input:checked+.bd-switch-body .bd-switch-slider > rect, .bd-switch input:checked+.bd-switch-body .bd-switch-slider > svg > path {
    fill: var(--brand-experiment-500);
    filter: brightness(2);
}
.bd-switch input:checked+.bd-switch-body {
    background-color: var(--brand-experiment);
}
.bd-switch-body {
    height: 14px;
    width: 28px;
}
.bd-switch-body .bd-switch-slider {
    left: -12px;
    top: -5px;
}
.bd-switch input:checked+.bd-switch-body .bd-switch-slider {
    left: 10px;
}
#bd-editor-controls .checkbox-inner {
    position: relative;
}
#bd-editor-controls .checkbox {
    width: 37px;
    transform: translateX(-28px);
    position: absolute;
    top: 0;
    opacity: 0;
}
#bd-editor-controls .checkbox-inner::before {
    content: "";
    width: 28px;
    height: 14px;
    display: flex;
    background-color: var(--background-primary);
    border: 28px;
    border-radius: 50px;
    transform: translateX(calc(-25% - 20px));
    transition: .15s;
}
#bd-editor-controls .checkbox-inner::after {
    content: "";
    width: 18px;
    height: 18px;
    display: flex;
    background-color: #fff;
    border: 28px;
    border-radius: 50px;
    transform: translateX(calc(-75% - 20px)) translateY(-87.5%);
    transition: .15s;
}
#bd-editor-controls .checkbox-inner:has(:checked)::before {
    background-color: var(--brand-experiment);
}
#bd-editor-controls .checkbox-inner:has(:checked)::after {
    background-color: var(--brand-experiment-500);
    filter: brightness(2);
    transform: translateX(calc(50% - 20px)) translateY(-87.5%);
}
.checkbox-item .checkbox-label {
    margin-right: 40px;
}
.notice-2HEN-u {
    margin: 4px;
    margin-right: 148px;
    border-radius: 8px;
}
.quickswitcher-pKcM9U {
    padding: 15px;
    padding-bottom: 15px;
    border-radius: 16px;
}
.quickswitcher-pKcM9U .protip-1jXzAl {
    display: none;
}
.quickswitcher-pKcM9U > .input-3r5zZY {
    height: 40px;
    border-radius: 16px;
}
.quickswitcher-pKcM9U .scroller-2qwVWY {
    margin-right: 0;
}
.quickswitcher-pKcM9U .scroller-2qwVWY::-webkit-scrollbar {
    width: 0;
}
.quickswitcher-pKcM9U .scroller-2qwVWY .result-u66Ywh {
    border-radius: 16px;
    height: fit-content;
}
.quickswitcher-pKcM9U .scroller-2qwVWY .result-u66Ywh .iconContainer-XRODjt:has(path) {
    height: 32px;
    width: 32px;
    padding: 6px;
    border-radius: 50%;
    background-color: var(--background-secondary-alt);
}
.quickswitcher-pKcM9U .scroller-2qwVWY .result-u66Ywh .iconContainer-XRODjt > svg:has(path) {
    height: 32px;
    width: 32px;
    color: var(--brand-experiment);
}
.dmIconContainer-3Ohx2-, .dmIconContainer-3Ohx2- > div, .dmIconContainer-3Ohx2- svg {
    height: 32px !important;
    width: 32px !important;
}
.quickswitcher-pKcM9U .scroller-2qwVWY .result-u66Ywh .content-vQY7Mf {
    padding: 10px;
    height: fit-content;
    align-items: center;
}
.sidebar-1tnWFu {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.guilds-2JjMmN {
    border-radius: 0 !important;
    box-shadow: none !important;
}
#account {
    width: calc(100% - 30px);
    margin: 15px;
}
.submenuPaddingContainer-QgnL1r {
    padding: 0 !important;
}
.submenu-3ycVEH {
    margin: 0 -4px;
}
.homeIcon-r0w4ny {
    height: 28px;
}
.homeIcon-r0w4ny path {
    d: path("M7.516 16.7C7.8784 16.7 8.1694 16.3791 8.1838 16.0171 8.1906 15.8462 8.2 15.674 8.2 15.5 8.2 10.1984 11.7683 5.9 17.3338 5.9 19.3811 5.9 21.3254 6.6288 22.9281 7.6747 23.3211 7.9312 23.8106 7.6966 23.8014 7.2274 23.8005 7.1825 23.8 7.1398 23.8 7.1 23.8 1.8068 19.0527-2.5 13.219-2.5 7.3854-2.5 2.638 1.8068 2.638 7.1 2.638 8.59 3.0076 10.0228 3.7183 11.3276 3.9932 11.8323 3.9466 12.4664 3.5445 12.8769L1.7978 14.6604C1.0539 15.4198 1.592 16.7 2.6551 16.7H7.516ZM25.0161 18.9078C24.8039 18.5696 24.7806 18.1502 24.909 17.7722 25.1568 17.0422 25.2845 16.2741 25.2845 15.5 25.2845 11.5292 21.9897 8.3 17.9399 8.3 13.8903 8.3 10.5953 11.5292 10.5953 15.5 10.5953 19.4708 13.8903 22.7 17.9399 22.7H25.2258C26.1693 22.7 26.7437 21.6614 26.2424 20.8622L25.0161 18.9078Z");
}
.theme-dark .theme-light .root-1CAIjD {
    background-color: var(--primary-600);
}
.theme-dark .theme-light .root-1CAIjD .defaultColor-1EVLSt,
.theme-dark #app-mount .theme-light .root-1CAIjD .footerSeparator-3U8YsT,
.theme-dark .theme-light .root-1CAIjD .sampleLink-5BWNy9 {
    color: var(--white-500);
}
.theme-dark .theme-light .root-1CAIjD .subtitle-3m-md1,
.theme-dark .theme-light .root-1CAIjD .optionHeader-27AHfD,
.theme-dark .theme-light .root-1CAIjD .subtitle-1cc8Nz,
.theme-dark .theme-light .root-1CAIjD .skip-2hTIXL,
.theme-dark .theme-light .root-1CAIjD .subtitle-bIoUVX,
.theme-dark .theme-light .root-1CAIjD .guidelines-FvqqF2,
.theme-dark .theme-light .root-1CAIjD .h5-2feg8J,
.theme-dark .theme-light .root-1CAIjD .label-7akf7-,
.theme-dark .theme-light .root-1CAIjD .legend-3BgtI3,
.theme-dark .theme-light .root-1CAIjD .text-sm-normal-AEQz4v {
    color: var(--white-600) !important;
}
.theme-dark .theme-light .root-1CAIjD .container-x8Y1ix,
.theme-dark .theme-light .root-1CAIjD .rowContainer-3t7486 {
    background-color: var(--primary-630);
}
.theme-dark .theme-light .root-1CAIjD .container-x8Y1ix:hover,
.theme-dark .theme-light .root-1CAIjD .rowContainer-3t7486:hover {
    background-color: var(--primary-660);
}
.theme-dark #app-mount .theme-light .root-1CAIjD .footerSeparator-3U8YsT:has(.footerButton-24QPis) .footerButton-24QPis {
    background-color: var(--primary-630);
}
.theme-dark #app-mount .theme-light .root-1CAIjD .footerSeparator-3U8YsT:has(.footerButton-24QPis) .footerButton-24QPis:hover {
    background-color: var(--primary-660);
}
.theme-light #app-mount .theme-light .root-1CAIjD .footerSeparator-3U8YsT:has(.footerButton-24QPis) .footerButton-24QPis {
    color: var(--black-500);
}
.theme-dark #app-mount .theme-light .root-1CAIjD .footerSeparator-3U8YsT:has(.footerButton-24QPis) {
    background-color: var(--primary-600);
    box-shadow: none;
}
.mainContentWithChannelEmoji-3a7jev {
    padding: 6px 0;
}
.mainContentWithChannelEmoji-3a7jev .iconContainer-21RCa3 {
    background-color: transparent;
}
.mainContentWithChannelEmoji-3a7jev .iconContainer-21RCa3 svg {
    color: var(--channel-icon) !important;
}
.channelEmojiLeftOfIcon-2qUYhE {
    margin-left: 0;
}
.channelEmoji-NJOZuV {
    max-height: 32px;
    max-width: 32px;
    width: 32px;
    backdrop-filter: brightness(1.5);
    height: 32px;
}
.channelEmoji-NJOZuV > img {
    width: 20px;
    height: 20px;
}
.channelEmojiRightOfIcon-2GcYRh {
    order: -1;
}
.bg-1QIAus {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.typeMacOS-3V4xXE {
    background: transparent !important;
    background-color: var(--background-tertiary) !important;
    right: unset;
    left: 0;
    padding: 0;
    z-index: 1;
}
.sidebar-1tnWFu {
    position: absolute;
    height: calc(100% - 20px);
    top: 10px;
    border-radius: 16px !important;
    margin-left: -320px;
}
.chat-2ZfjoI {
    z-index: 0;
    padding-left: 8px;
}
.sidebar-1tnWFu:hover, .guilds-2JjMmN:hover + .base-2jDfDU .sidebar-1tnWFu {
    margin-left: 10px;
    box-shadow: var(--elevation-high);
}
.guilds-2JjMmN {
    position: static;
}
.guilds-2JjMmN::after {
    content: "";
    position: absolute;
    height: 100vh;
    width: 10px;
    left: 72px;
    top: 0;
}
.base-2jDfDU,
.container-ZMc96U {
    z-index: 0;
}
.messagesWrapper-RpOMA3 > .scroller-kQBbkU {
    height: calc(100% - 6px);
    border-bottom: 1px solid var(--primary-500);
}
.sidebar-1tnWFu:hover::before, .guilds-2JjMmN:hover + .base-2jDfDU .sidebar-1tnWFu::before,
.sidebar-1tnWFu:hover::after, .guilds-2JjMmN:hover + .base-2jDfDU .sidebar-1tnWFu::after {
    opacity: 0;
}
.titleBar-1it3bQ {
    background: transparent !important;
}
.navList-3uG4ub {
    background-color: var(--background-tertiary);
    padding: 2px;
    gap: 2px;
    border-radius: 4px;
}
.nav-1cHpYc {
    height: 32px;
}
.navList-3uG4ub > button {
    margin: 0;
    width: calc((100%/2) - 1.5px);
    padding: 4px;
}
.navList-3uG4ub > div {
    margin: 0;
    width: calc((100%/2) - 1.5px);
}
.navList-3uG4ub > div > button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.navList-3uG4ub .betaTag-V7479T {
    display: none;
}
.nav-1cHpYc + .wrapper-3u51GQ {
    margin-top: 8px;
}
.nav-1cHpYc + .wrapper-3u51GQ .searchBar-2M9mRP {
    background-color: transparent;
    border: 1px solid var(--primary-500);
    border-radius: 50px;
}
